::-webkit-scrollbar {
  display: none;
}

body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}
  
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
    border-bottom-left-radius: 9rem;
  }
.button:hover {
  background: #696686 !important;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -50px;
  right: 160px;
  transform: scale(0.8, 0.8);
  transition: 0.3s all ease-in-out;
  z-index: 1;
}

.right-arrow {
  right: 90px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1, 1);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bodyPart-card {
  border-radius: 1rem;
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
}

.exercise-card {
  width: 400px;
  background: #fff;
  border: 3px solid #a2a2c7;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 12px;
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
}
.exercise-card img {
  border-radius: 8px;
  height: 350px;
}
.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(0.9, 0.9);
}
.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 375px;
  height: 375px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
    .hero-banner-img {
      width: 500px;
      height: 700px;
    }
    .exercise-card {
      width: 320px;
    }
    .exercise-video {
      width: 300px;
      height: 280px;
    }
  }
@media screen and (max-width:750px) {
    .hero-banner-img {
      display: none;
    }
  }

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}